<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UEFA_league.Properties.Settings.UEFA_leagueConnectionString"
            connectionString="Data Source=KIRILL_COMP\SQLEXPRESS;Initial Catalog=UEFA_league;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>